@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  box-sizing: border-box !important;
  background-color: #f4f4f4 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
.main-container{
  align-items: center !important;
  width: 100% !important;
  overflow-x: hidden !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
@media screen and (max-width: 768px) {
  .main-container {
    align-items: flex-start !important;
  }
}

#mi-react-app {
  font-family: Arial, Helvetica, sans-serif !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: auto !important;
  min-height: 100vh !important; /* Asegura que el contenedor principal tenga al menos el alto de la ventana */
}
.app-container {
  width: 100% !important; /* Ajusta el contenedor de la aplicación para que ocupe el ancho completo */
  max-width: auto !important; /* Evita que el contenedor sea más ancho que el viewport */
  padding: 20px !important;
  margin: 0 auto !important; /* Centra el contenedor en la pantalla */
  font-family: Arial, Helvetica, sans-serif !important;
}

.button_box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Estilos para los botones */
.button {
  background-color: #0056b3; /* Azul oscuro de los títulos de la tabla */
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
  background-color: #013877; /* Azul más oscuro para el hover */
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


.app-container h1 {
  color: #fff;
}


.ag-theme-alpine {
  flex: 1 1 0px;
}

.ag-theme-alpine .ag-header-cell {
  background-color: #013877;
  border-right: none;
  flex-wrap: wrap;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
}

.ag-theme-alpine .ag-header-cell:hover {
  background-color: #0069d9 !important;
}

.ag-theme-alpine .ag-header-cell-label .ag-header-cell-text {
  background-color: inherit;
  color: white;
  flex-wrap: wrap;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
}

.ag-theme-alpine .ag-header-icon {
  color: white;
}

.ag-theme-alpine .ag-cell {
  border-right: none;
  flex-wrap: wrap;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
}

/* .ag-theme-alpine .ag-root-wrapper {
  overflow: hidden;
} */

.ag-theme-alpine .ag-header-cell-label {
  font-size: 14px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.ag-theme-alpine .ag-cell {
  font-size: 12px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
  word-wrap: break-word;
}