@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f4f4f4;
}
.main-container{
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  .main-container {
    align-items: flex-start;
    width: 550px;
    overflow-x: hidden;
  }
}

#mi-react-app {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh; /* Asegura que el contenedor principal tenga al menos el alto de la ventana */
  overflow-x: hidden; /* Evita el desplazamiento horizontal en el nivel del body */
}
.app-container {
  width: 100%; /* Ajusta el contenedor de la aplicación para que ocupe el ancho completo */
  max-width: 100vw; /* Evita que el contenedor sea más ancho que el viewport */
  padding: 20px;
  margin: 0 auto; /* Centra el contenedor en la pantalla */
}

.button_box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Estilos para los botones */
.button {
  background-color: #0056b3; /* Azul oscuro de los títulos de la tabla */
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 15px; /* Espaciado entre botones */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #003d82; /* Azul más oscuro para el hover */
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


.app-container h1 {
  color: #fff;
}

.ag-theme-alpine .ag-header-cell {
  background-color: #3A5F97;
  border-right: none;
}

.ag-theme-alpine .ag-header-cell:hover {
  background-color: #0069d9 !important;
}

.ag-theme-alpine .ag-header-cell-label {
  background-color: inherit;
  color: white;
}

.ag-theme-alpine .ag-header-icon {
  color: white;
}

.ag-theme-alpine .ag-cell {
  border-right: none;
}

/* .ag-theme-alpine .ag-root-wrapper {
  overflow: hidden;
} */

.ag-theme-alpine .ag-header-cell-label {
  font-size: 21px;
  font-weight: 500;
  font-family: "Poppins";
}

.ag-theme-alpine .ag-cell {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins";
}

@media (max-width: 768px) {
  .ag-theme-alpine .ag-header-cell-label {
    font-size: 16px;
  }

  .ag-theme-alpine .ag-cell {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .ag-theme-alpine .ag-header-cell-label {
    font-size: 15px;
  }

  .ag-theme-alpine .ag-cell {
    font-size: 12px;
  }
}
